/* #Media Queries
================================================== */
 

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-device-width: 1500px)  and (max-device-width: 2800px)  {
  .container{ width: 1600px; }

}
@media (min-width: 1261px){
  .container{ width: 1250px; }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:1024px) {
  .mid-header .search-box { margin: 0 5px 0 20px; }
  .thumbnail .caption { min-height: 93px; }
  .product-img .img-wrap{ display: flex; }
  .products-wrapper .productgroup-section.owl-carousel .owl-item img { height: 250px; }
  .products-wrapper .img-wrap > img { height: 211px; }
  .cart-block { margin-right: 5px; padding-right: 10px; }
  .cart-block .badge { padding: 4px 6px; right: 3px; }
  .advertisement-wrappers [class*="col-"], 
  .advertisement-wrappers [class^="col-"] { margin-bottom: 10px; }
  .advertisement-wrappers [class*="col-"]:last-child, 
  .advertisement-wrappers [class^="col-"]:last-child{ margin-bottom: 0; }
  .section-title ul { padding-left: 10px; }
  .section-title ul li a { padding-right: 5px; }
  /* .products-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev::after, 
  .brands-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev::after {
    top: 18px;
  }
  .products-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev, 
  .products-wrapper .owl-carousel .owl-controls .owl-nav .owl-next, 
  .brands-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev, 
  .brands-wrapper .owl-carousel .owl-controls .owl-nav .owl-next {
    top: -94px;
  } */
  .section-title .viewmore { display: inline-block; margin: 10px 20px; }
  .payment li img { margin-bottom: 5px; }
  .contact-info li{ display: flex; }
  .footer-wrapper ul.contact-info li a{ line-height: 20px; }
  .footer-wrapper ul.contact-info li a span{ display: block; }
  .contact-info li i { display: unset; margin-right: 5px; margin-top: 5px; }
  .add-wishlist { right: 30px; }
  .shopping-cart .cart-review-content [class*="col-"], 
  .shopping-cart .cart-review-content [class^="col-"] {
    padding: 0 5px;
    text-align: center;
    width: 100%;
  }
  .cart-review-content .product-cart-img { display: inline-block;  margin-bottom: 20px; }
  .cart-qty div.qty-section > div > input { max-width: 31%; }
  .cart-confirm span { display: inline-block; margin-top: 5px; margin-bottom: 0;}

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
  .products-wrapper .productgroup-section.owl-carousel .owl-item img { height: 232px; }
  .add-wishlist { right: -5px; }
  .shopping-cart .cart-review-content [class*="col-"], 
  .shopping-cart .cart-review-content [class^="col-"] {
    padding: 0 5px;
    text-align: left;
    width: initial;
  }
  .shopping-cart .cart-review-content [class*="col-"]:last-child, 
  .shopping-cart .cart-review-content [class^="col-"]:last-child { width: 50%; }
  .cart-review-content .product-cart-img {
    display: inline-block;
    margin-bottom: 20px;
  }
  .cart-qty .btn-minus, .cart-qty .btn-plus { height: 25px; width: 25px; }
  .cart-qty div.qty-section > div > input { height: 25px; max-width: 16%; }
  .cart-remark .fix-width em { display: block; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
.container { width: 100%; }
body.toggle-overflow{ overflow: hidden; }
header + section { padding-top: 25px !important; }
  .nav-toggle {
    border-bottom: 1px solid #902dbe;
    clear: both;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .nav-toggle div.top-nav-toggle {
    float: right;
    margin-left: 10px;
    margin-top: 8px;
  }
  .top-nav-toggle > a {
    color: #fff;
    font-size: 22px;
    line-height: 18px;
    margin-right: 10px;
  }
  .top-nav-toggle > a.top-search-iocn{ font-size: 18px; }
  #billingopt.top-header.collapse.in{ padding: 0; }
  .top-header .text-right.hover-dropdown { float: left; line-height: 30px; }
  .dropdown .dropdown-content.dropdown-menu { margin-top: 4px; }
  .search-box .dropdown .SumoSelect { border-right: none; }
  #hamburger {
    width: 22px;
    height: 18px;
    float: right;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 2px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(3) {
    top: 17px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .responsive-pushnav{ display: block; }
  .top-header, .megamenu{ display: none; }
  .responsive-pushnav span.opennav-icon { float: right; margin-right: 15px; }
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align:left;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #575757;
      display: block;
      transition: 0.3s;

  }
  .sidenav a:hover{ color: #575757; }
  .sidenav .closebtn {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 0;
    padding: 0;
    position: absolute;
    right: 25px;
    top: 0;
  }
  #menu-wrapper{ display: block; width: 100%; font-family: Helvetica; color: #fff; }
  .ap-ddmenu-header {
    background: none;
    background-image: none;
    color: #575757;
    text-shadow: none;
  }
  .ap-ddmenu-header .ap-ddmenu-back {
    font-size: 25px;
    margin-top: -3px;
    padding: 0;
    text-shadow: none;
  }
  .sidenav {padding-top: 30px;}
  .sidenav a {font-size: 16px;}
  .mid-header .search-box{ display: none; }
  .search-box .dropdown { float: left; }
  .mid-header .search-box .btn, .mid-header .search-box .form-control{ height: 35px; }
  .nav-toggle .search-box{ display: block; }
  .nav-toggle .search-box .dropdown button#dropdownMenu1, 
  .nav-toggle .search-box .input-group button {
    border: medium none;
    color: #d5d5d5;
    font-size: 13px;
    height: 35px;
    padding: 0 10px;
  }
  .nav-toggle .search-box .dropdown button#dropdownMenu1{ padding-left: 33px; }
  .nav-toggle .search-box .dropdown button#dropdownMenu1:hover,
  .nav-toggle .search-box .dropdown button#dropdownMenu1:focus,
  .nav-toggle .search-box .dropdown button#dropdownMenu1:active{
    background: #fff;
    box-shadow: none;
    color: #d5d5d5;
    outline: none;
  }
  .nav-toggle .search-box .dropdown.open button#dropdownMenu1{
    color: #742b96;
    background: #fff;
  }
  .nav-toggle .search-box .dropdown [class^="flaticon-"]::before, 
  .nav-toggle .search-box .dropdown [class*="flaticon-"]::before, 
  .nav-toggle .search-box .dropdown [class^="flaticon-"]::after, 
  .nav-toggle .search-box .dropdown [class*="flaticon-"]::after{ 
    font-size: 22px; 
    line-height: 1px; 
    position: absolute; 
    left: 10px; 
    top: 17px; 
  }
  .nav-toggle .search-box .input-group button{ background: none; color: #fff; }
  .bootsnipp-search {
    
    
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    visibility: hidden;
    z-index: 1;

  }
  .bootsnipp-search{ margin-left: -12px; }
  .bootsnipp-search.open {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
    margin-left: -12px;
    margin-top: 7px;
  }
  .bootsnipp-search form{ padding: 0 8px; }
  .bootsnipp-search.open form { padding: 0 8px; width: 100%; }
  .bootsnipp-search input[type="text"],
  .bootsnipp-search input[type="text"]:focus,
  .bootsnipp-search input[type="text"]:active, 
  .bootsnipp-search button.btn-default{ height: 40px; border-right: 0;}
  .bootsnipp-search button.btn-danger{ background:#d9534f; border: none; padding: 10px; color: #fff; }
  .bootsnipp-search .input-group-btn button.btn-danger{ 
    background: #d9534f; 
    width: 40px; 
    margin-left: 0; 
    padding: 0; 
    height: 40px; 
    outline: none; 
  }
  .bootsnipp-search .input-group-btn  button.btn-danger:hover{ 
    background: #d9534f; 
    color: #fff; 
    box-shadow: none; 
  }

  .mid-header .logo { border-bottom: 1px solid #902dbe; padding-bottom: 20px; width: 100%; }
  .mid-header .logo{ float: none; text-align: center; width: 100%; }
  .mid-right-block { 
    border-bottom: 1px solid #902dbe; 
    clear: both; 
    float: none; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    text-align: center; 
    width: auto; 
  }



  .banner-wrapper .item, .advertisement{ margin-top: 30px; }
  .advertisement-wrappers [class*="col-"], 
  .advertisement-wrappers [class^="col-"]{ margin-bottom: 10px; }
  .products-wrapper .products-fluid .thumbnail{ border: 1px solid #ddd; }
  .product-img .img-wrap { display: inline-block;  width: 100%;}
  .products-wrapper .products-fluid [class*="col-"],
  .products-wrapper .products-fluid [class^="col-"]{ margin-bottom: 20px; }
  .products-wrapper .products-fluid [class*="col-"]:last-child,
  .products-wrapper .products-fluid [class^="col-"]:last-child{ margin-bottom: 0; }
  .section-title{ background: transparent; border: 0; }
  .section-title h2{ width: 100%; }
  .section-title h2::after{ border-bottom: 1px solid #fff; border-top: 1px solid #fff;}
  .section-title ul { margin-left: 0; margin-top: 10px; padding-left: 0; }
  .section-title ul li a{ padding-right: 10px; }
  .row.products-fluid{ border-bottom: 0; }
  .action{ top: 9%; right: 15px; }
  .featured-category img { height: 298px; }
  .products-wrapper.four-col.category-wrapper .owl-carousel{ margin-top: 50px; }
  .products-wrapper .productgroup-section.owl-carousel .owl-item img{ width: 100%; }
  .products-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev, 
  .products-wrapper .owl-carousel .owl-controls .owl-nav .owl-next { top: -26px; }
  .brand-list li { margin-right: 0; width: 47.7%; }
  .products-wrapper .products-fluid.fluid-nosapce [class*="col-"], 
  .products-wrapper .products-fluid.fluid-nosapce [class^="col-"] { width: 100%; }

  footer.footer-wrapper { text-align: center; }
  .secondary-footer p.copyright { line-height: 20px; }
  .secondary-footer p.digital-agency{ text-align: center; }

  /* category */

  .content-circle .item { float: left; margin-bottom: 20px; margin-right: 14px; width: auto; }
  .content-circle img, .content-circle .img-wrap { width: 100%; }
  .content-circle .item:last-child .product-img { margin-bottom: 0; margin-right: 0; width: 130px; }

  /* cart */
  .xzoom{ width: auto !important; margin-left: 0; }
  .xzoom-thumbs{ 
    display: inline-block; 
    height: 65px; 
    white-space: nowrap; 
    overflow-x: auto; 
    overflow-y: hidden; 
    position: unset; 
    text-align: center; 
    width: 100%;
  }
  .xzoom-thumbs a{ display: inline-block; margin-right: 5px; }
  .xzoom-gallery{ height: 65px; }
  .qty-section { margin-bottom: 10px; }
  .product-info-item .btn-primary:last-child { display: table; float: none;}
  .nav-tabs li{ text-align: center; width: 100%; }
  .tab-content .specifical > li{ display: inline-block; width: 100%; }
  .tab-content li.specify-heading > span{ font-weight: 600; width: 50%; }
  .tab-content .specify-heading > span, 
  .tab-content span{ 
    float: left; 
    font-size: 13px; 
    font-weight: 600; 
    letter-spacing: 0.5px; 
    width: 30%; 
  }
  .tab-content span:last-child{ font-weight: normal; width: 70%; margin-bottom: 0; }
  .shopping-cart .cart-review-content [class*="col-"],
  .shopping-cart .cart-review-content [class^="col-"] { 
    text-align: center; 
    padding: 0 10px; 
    width: 100%; 
  }
  .cart-review-content .product-cart-img { display: inline-block; margin-bottom: 20px; }
  .cart-review-content .productlist-info span { display: inline-block; margin-right: 5px; }
  div.qty-section > div{ width: 150px; }
  .cart-qty div.qty-section > div > input { max-width: 55%; }

  .cart-remark .fix-width { margin-bottom: 15px; }
  .cart-remark .fix-width em{ display: block; }
  .cart-review .cart-btn .coupon-btn{ margin-bottom: 10px; }
  .cart-review .cart-btn{ text-align: center; }
  .cart-qty div.qty-section > div.update-qty { 
    display: inline-block; 
    float: left; 
    text-align: center; 
    width: 100%; 
  }
  .cart-review .cart-btn .update_shopping button{ margin-right: 3px; }
  .cart-review .cart-btn .update_shopping button:last-child{ margin-right: 0; }




  .dashboard-header .main-header{ display: none; }
  .cd-nav-trigger {
    background: #ccc none repeat scroll 0 0;
    height: 25px;
    margin-bottom: 10px;
    text-indent: -99999px;
    width: 35px;
  }
  .cd-main-content .page-container .col-md-8 { width: 100%; }
  .userdashboard .dashboard-content{ margin-top: 30px; padding: 0; }
  .main-container.dashdb .row, 
  .userdashboard .dashboard-content .row { margin-left: inherit; margin-right: inherit; }
  .cd-main-content .page-container [ class*="col-" ],
  .cd-main-content .page-container [ class^="col-" ]{ width: 100%; float: none; padding: 0 10px; }
  .oversea-user-profile-root{ display: inline-block; height: auto; }
  .oversea-user-profile-root .mui-avatar-a, 
  .oversea-user-profile-root .mui-avatar{ width: 43px; height: 43px; }
  .oversea-user-profile-root .mui-personal-info .mui-user-name{ left: -17px; top: 44px; }
  .oversea-user-profile-root .mui-personal-info .mui-col-normal{ 
    margin-bottom: 15px; 
    text-align: center;
  }
  .oversea-user-profile-root .mui-personal-info div.mui-basic-info {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
  .oversea-user-profile-root .mui-personal-info div.mui-favorite {
    clear: both;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
  .oversea-user-profile-root .mui-personal-info div.mui-accu-voilations{ 
    float: none; 
    margin-right: 0; 
    text-align: center; 
  }
  .mh-notice-board{ padding: 0; }
  .mh-notice-board h2{ margin-top: 0; }



}


  

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {
.collapse.in .viewall-dropdown-content::after{ right: 90px; }
}
  

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation : landscape) {

}

@media only screen and (min-width: 481px) and (max-width: 640px){
.brand-list li { margin-right: 0; width: 47%; }
.collapse.in .viewall-dropdown-content::after{ left: 56px; }
}

@media only screen and (max-width:480px){
  .collapse.in .viewall-dropdown-content::after{ left: 210px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {
  .SumoSelect > .optWrapper.isFloating{ position: inherit;  width: 100%;}
  .SumoSelect.open > .optWrapper { top: 0; }
  .brand-list li{ width: 94%; }
  .collapse.in .viewall-dropdown-content::after{ left: 56px; }
  #viewall-dropdown .products-wrapper.no-scroll.viewall-dropdown-content [class*="col-"], 
  #viewall-dropdown .products-wrapper.no-scroll.viewall-dropdown-content [class^="col-"]{ 
    width: 50%; 
    float: left;
  }
  .cart-qty .btn-minus, .cart-qty .btn-plus { height: 30px; width: 25px; }
  .cart-qty div.qty-section > div > input { height: 30px; max-width: 19%; }
  .cart-qty .qty-section{ height: 30px; }
}