/* #Media Queries
================================================== */
 

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-device-width: 1500px)  and (max-device-width: 2800px)  {
	.container{
		width: 1600px;
	}

}
@media (min-width: 1261px){
	.container{
		width: 1250px;
	}
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:1024px) {

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
.container {
	width: 100%;
}

body.toggle-overflow{
	overflow: hidden;
}
.nav-toggle {
  float: right;
  padding: 12px;
}
.nav-toggle div {
  float: left;
  margin-left: 15px;
}
.top-nav-toggle > a {
  color: #fff;
  font-size: 22px;
  line-height: 18px;
}
#billingopt.top-header.collapse.in{
	padding: 0;
}
.top-header .text-right.hover-dropdown {
  float: left;
  line-height: 25px;
}
#hamburger {
  width: 25px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 17px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
.responsive-pushnav{
	display: block;
}
.top-header, .megamenu{
	display: none;
}
.responsive-pushnav span.opennav-icon {
  float: right;
  margin-right: 15px;
}
.cart-block{ margin-right: 0; }

#menu-wrapper{ display: block; width: 100%; font-family: Helvetica; color: #fff; }
.ap-ddmenu-header {
	background: none;
	background-image: none;
	color: #575757;
	text-shadow: none;
}
.ap-ddmenu-header .ap-ddmenu-back {
  font-size: 25px;
  margin-top: -3px;
  padding: 0;
  text-shadow: none;
}
.sidenav {padding-top: 30px;}
.sidenav a {font-size: 16px;}

}
	

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {
}
  

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) {

}

@media only screen and (min-width: 481px) and (max-height: 640px){

}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {

}