	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/06/2017 09:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-bars:before { content: "\f100"; }
.flaticon-trolley:before { content: "\f101"; }
.flaticon-full-items-inside-a-shopping-bag:before { content: "\f102"; }
.flaticon-list:before { content: "\f103"; }
.flaticon-valentines-heart:before { content: "\f104"; }
.flaticon-like:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
.flaticon-money-bag:before { content: "\f107"; }
.flaticon-online-shopping-cart:before { content: "\f108"; }
.flaticon-down-arrow:before { content: "\f109"; }